//-
	Reset Password
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"
	
mixin form-reset(args)
	.row: .col-sm-8.col-md-6
		form.auth-form.form-signin(
			method='post'
			action='/reset-password/' + key
			role='signin')
			input(
				type='hidden'
				name='action'
				value='reset-password')
			.form-control-box
				label.sr-only(for='signin-password') New password
				input.form-control.form-control--last(
					type='password'
					name='password'
					placeholder='Password'
					id='signin-password'
					value='')
			button.btn.btn-block.btn-primary.btn-submit(type='submit') Reset password
			
