extends ../layouts/default

block intro
	.container
		h1 Browse Projects

block content
	style.
		table, th, td {
			border: 1px solid black;
			padding: 3px;
		}
	.container
		if projects.totalPages > 1
			.lead.text-muted Showing #{projects.first} to #{projects.last} of #{projects.total} projects
		table(style="width:100%")
			thead
				tr
					th Project Title
					th Institution
					th Department
			tbody
				each project in projects.results
					tr
						td
							a(href='/browseProjects/project/' + project._id) #{project.title}
						td=project.institution
						td=project.department
		if projects.totalPages > 1
			ul.pagination
				if projects.previous
					li: a(href='?page=' + projects.previous): span.glyphicon.glyphicon-chevron-left
				else
					li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
				each p, i in projects.pages
					li(class=projects.currentPage === p ? 'active' : null)
						a(href='?page=' + (p === '...' ? (i ? projects.totalPages : 1) : p ))= p
				if projects.next
					li: a(href='?page=' + projects.next): span.glyphicon.glyphicon-chevron-right
				else
					li.disabled: a(href='?page=' + projects.totalPages): span.glyphicon.glyphicon-chevron-right
