extends ../layouts/default

block intro
	.container
		h1 Browse Projects

block content
	body
	if projects.length > 0
		.container
			if totalPages > 1
				.lead.text-muted Showing #{first} to #{last} of #{total} projects
			table#myTable.tablesorter
				thead
					tr
						th Project Title
						th Institution
						th Department
				tbody
					each project in projects
						tr
							td
								a(href='/browseProjects/project/' + project.id) #{project.title}
							td=project.institution
							td=project.department
			if totalPages > 1
				ul.pagination
					if previous
						li: a(href='?page=' + previous + '&query=' + query): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1 + '&query=' + query): span.glyphicon.glyphicon-chevron-left
					each p, i in pages
						li(class=currentPage === p ? 'active' : null)
							a(href='?page=' + (p === '...' ? (i ? totalPages : 1) : p ) + '&query=' + query)= p
					if next
						li: a(href='?page=' + next + '&query=' + query): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: a(href='?page=' + totalPages + '&query=' + query): span.glyphicon.glyphicon-chevron-right
	else
		.container
			h4 No search results.
