extends ../layouts/default

block intro
	.container
		h1 Browse Researchers


block content
	style.
		table, th, td {
			border: 1px solid black;
			padding: 3px;
		}
	.container
		if researchers.totalPages > 1
			.lead.text-muted Showing #{researchers.first} to #{researchers.last} of #{researchers.total} researchers
		table(style="width:100%")
			thead
				tr
					th(onclick="sortTable(0)") Name
					th(onclick="sortTable(1)") Institution
					th(onclick="sortTable(2)") Department
			tbody
				each researcher in researchers.results
					tr
						td=researcher.name
						td=researcher.institution
						td=researcher.department
		if researchers.totalPages > 1
			ul.pagination
				if researchers.previous
					li: a(href='?page=' + researchers.previous): span.glyphicon.glyphicon-chevron-left
				else
					li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
				each p, i in researchers.pages
					li(class=researchers.currentPage === p ? 'active' : null)
						a(href='?page=' + (p === '...' ? (i ? researchers.totalPages : 1) : p ))= p
				if researchers.next
					li: a(href='?page=' + researchers.next): span.glyphicon.glyphicon-chevron-right
				else
					li.disabled: a(href='?page=' + researchers.totalPages): span.glyphicon.glyphicon-chevron-right
						
						
					
