extends ../layouts/default

block content
	if !project
		h2 Project does not exist...
		p.lead Please check the url and try again
	else
	style.
		td {
			padding: 3px;
		}
	.container
		p: a(href='/browseProjects').text-muted &larr; go back to browse for more projects
		header
			h1= project.title
			if project.institution
				p Institution: #{project.institution}
			if project.department
				p Department: #{project.department}
			if project.summary && project.summary != "No summary available"
				p Summary: #{project.summary}
			if project.funding
				p Funding: #{project.funding}
		table
			thead
				tr
					th Researchers:
			tbody
				each researcher in researchersList
					tr
						td
							a(href='/browseResearchers/researcher/' + researcher._id) #{researcher.name}
