extends ../layouts/default

block content
	if !researcher
		h1 Researcher does not exist...
		p.lead Please check the url and try again
	else
	style.
		td {
			padding: 3px;
		}
	.container
		p: a(href='/browseResearchers').text-muted &larr; go back to browse for more researchers
		header
			h1= researcher.name
		table
			if researcher.institution
				thead
					tr
						th Institution:
				tbody
					tr
						td
							p #{researcher.institution}
			if researcher.department
				thead
					tr
						th Department:
				tbody
					tr
						td
							p #{researcher.department}
			if projects.length > 0
				thead
					tr
						th Projects:
				tbody
					each project in projects
						tr
							td
								a(href='/browseProjects/project/' + project._id) #{project.title}
			if works
				thead
					tr
						th Other Works:
				tbody
					each title in Object.keys(otherWorks)
						tr
							td
								a(href=otherWorks[title].otherWorkUrl) #{title}
