extends ../layouts/default

block intro
	.container
		h1 Submit Project
		
block content
	.container
		if !user.isApproved
			h3 Please hold on until we review your registration. We will send you an information once you have been added as a user. 
		else if user.isApproved && projectSubmitted
			h3 Thanks for submitting your project.
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='submitProject')
					.form-group(class=validationErrors.title ? 'has-error' : null)
						label Title
						input(type='text', name='title', value=formData.title).form-control
					.form-group(class=validationErrors.topic ? 'has-error' : null)
						label Topic
						input(type='text', name='topic', value=formData.topic).form-control
					.form-group(class=validationErrors.researchers ? 'has-error' : null)
						label Researchers
						input(type='TextArray', name='researcher', value=formData.researchers).form-control
					.form-group(class=validationErrors.institution ? 'has-error' : null)
						label Institution
						input(type='text', name='institution', value=formData.institution).form-control
					.form-group(class=validationErrors.faculty ? 'has-error' : null)
						label Faculty
						input(type='text', name='faculty', value=formData.faculty).form-control
					.form-group(class=validationErrors.department ? 'has-error' : null)
						label Department
						input(type='text', name='department', value=formData.department).form-control
					.form-group(class=validationErrors.start ? 'has-error' : null)
						label Start Date
						input(type='text', name='start', value=formData.start).form-control
					.form-group(class=validationErrors.start ? 'has-error' : null)
						label End Date
						input(type='text', name='end', value=formData.end).form-control
					.form-group(class=validationErrors.summary ? 'has-error' : null)
						label Summary
						textarea(name='summary', placeholder='Summary' rows=4).form-control= formData.summary
					.form-actions
						button(type='submit').btn.btn-primary Send
